<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxy.code.mapper.TestMapper">
    <select id="getTest" resultType="com.yxy.code.common.UserBean">
        select * from y_user
    </select>
</mapper>